<section class="calculator">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="card card-body col-md-6 bg-muted">
            <div class="card-header text-center">
                <h5><span class="fa fa-link" aria-hidden="true"></span>SCalc</h5>
            </div>
            <br>
            <div class="form-group">
                <input type="textarea" class="form-control" id="formula" placeholder="Insert yout formula here...">
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-dark" type="button" id="countBtn">
                            <span class="fa fa-calculator" aria-hidden="true"></span> Count
                        </button>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="score" readonly placeholder="Score">
                    </div>
                </div>
            </div>
            <hr>
            <div class="alert alert-danger hidden" id="calcError" role="alert"></div>
        </div>
    </div>
    <hr>
    <ul class="text-white">
        Example inputs:
        <li>5+3-1+7-3! = 8</li>
        <li>3*3-((2+3)*(2+3)*(2+3)*8-4*(6-1)) = -971</li>
        <li>3^2-((2+3)^3*8-4*(6-2^0)) = -971</li>
        <li>sin(1.0)^2 + cos(1.0)^2 = 1</li>
        <li>2! + (sin(2.9)^2 + cos(2.9)^2) = 3</li>
    </ul>
</section>