<section class="contact">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card border-0">
                <div class="card-body text-center">
                    <i class="fa fa-globe fa-5x mb-3"></i>
                    <h4 class="text-uppercase mb-5">Contact me</h4>
                    <p><a href="mailto:mikolajkania44@gmail.com">mikolajkania44@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</section>
