<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Science Calculator - SCalc - WSZiB</title>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="images/favicon.ico">
    </head>
    <body>
        <main>
            <nav class="navbar navbar-expand-lg navbar-dark static-top">
                <div class="container">
                    <a class="navbar-brand" href="/" style="font-family: 'Press Start 2P'";>
                        <span class="fa fa-link" aria-hidden="true"></span>SCalc
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Calculate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact">Contact me</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <%= yield %>
            </div>
        </main>
        <footer class="footer">
            <div class="container">
                <p class="m-0 text-center text-white small">Copyright &copy; Mikołaj Kania 2020</p>
            </div>
        </footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="bubbles">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="js/calculator.js"></script>
    </body>
</html>
